version: "3.9"


services:
  db:
    image: postgres:13
    env_file:
      - .env
    ports:
      - 5432:5432
    restart: always

  rss_api:
    depends_on:
      - db
    ports:
      - 5000:5000

    build:
      context:  ./rss-backend
      dockerfile: ./Dockerfile
    command: /app/docker_commands/init_db.sh
    volumes:
      - ./rss-backend:/app

    env_file:
    - .env

  rss_parser:
    depends_on:
      - db
      - rss_api
    restart: always
    volumes:
      - ./rss-parser:/app

    build:
      context:  ./rss-parser
      dockerfile: ./Dockerfile
    env_file:
    - .env

  tg_bot:
    depends_on:
      - db
      - rss_api
      - rss_parser

    restart: always
    build:
      context:  ./tg-bot
      dockerfile: ./Dockerfile
    env_file:
    - .env
