[loggers]
keys=root, exampleApp

[handlers]
keys=fileHandler, consoleHandler

[formatters]
keys=myFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler
formatter=myFormatter

[logger_exampleApp]
level=DEBUG
handlers=fileHandler
qualname=exampleApp
formatter=myFormatter

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=myFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
formatter=myFormatter
args=("config.log",)

[formatter_myFormatter]
format=%(asctime)s | %(filename)s | %(levelname)s : %(message)s